@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.container{
    max-width: 1360px;
    padding: 0 15px;
}

/* header-one */
.header-one{
    position: relative;
}
.header-form{
    position: relative;
    display: flex;
    align-items: center;
}
.form-group{
    position: relative;
    
}
.header-form select{
    position: relative;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background-color: unset;
    width: 188px;
}
.form-group::before{
    content: "";
    position: absolute;
    top: 11px;
    right: -18px;
    width: 2px;
    height: 12px;
    background-color: rgba(9, 18, 44, 1);
}
.form-group:last-child select{
    width: 118px;
    margin-left: 30px;
}
.header-form select::placeholder{
    color: rgba(9, 18, 44, 1);
}
.form-group:last-child::before{
    display: none;
}