@import 'base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* .announcement-bar{ */
.announcement-bar{
    position: relative;
    background-color: var(--color-white);
    padding: 12px 0 17px;
    z-index: 99;
}
.announcement-bar__text{
    position: relative;
    text-align: center;
    margin-right: 54px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-heading);
    display: flex;
    align-items: center;
    margin-top: 6px;
}
.announcement-bar__text a{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-accent2);
    text-decoration: underline;
    display: inline-block;
    transition: all 0.3s ease;
    margin-left: 8px;
    display: inline-block;
}
.announcement-bar__text a:hover{
    color: var(--color-accent);
}
/* .header */
.header{
    position: relative;
    z-index: 99;
    padding-top: 18px;
}
.localization-form{
    position: relative;
    display: flex;
    align-items: center;
}
.form-group{
    position: relative;
}
.localization-form select{
    position: relative;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background-color: unset;
    width: 188px;
}
.form-group::before{
    content: "";
    position: absolute;
    top: 11px;
    right: -18px;
    width: 2px;
    height: 12px;
    background-color: var(--color-heading);
}
.form-group:last-child select{
    width: 118px;
    margin-left: 30px;
}
.localization-form select::placeholder{
    color: var(--color-heading);
}
.form-group:last-child::before{
    display: none;
}

.localization-form2{
    position: relative;
    text-align: right;
}
.localization-form2 select{
    font-weight: 700;
    width: 275px;
    border: 0;
    outline: none;
    font-size: 16px;
    background-color: unset;
}
.localization-form2 select::placeholder{
    color: var(--color-heading);
}
.header-menu__items{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-menu__items li:last-child{
    margin: 0;
}
.header-menu__items li a{
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 44px;
    line-height: 44px;
    border-radius: 50px;
    padding: 0 23px;
    transition: all 0.3s ease;
    color: var(--color-white);
}
.header-menu__items li a img{
    transition: all 0.3s ease;
}
.header-menu__items li a:hover img{
    filter: brightness(0);
}
.header-menu__items li a:hover{
    background-color: var(--color-accent);
    color: var(--color-heading);
}
.header__icons{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 6px;
    justify-content: right;
}
.header__icons .search{
    position: relative;
    margin-right: 28px;
}
.search .one{
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-accent2);
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}
.header__icons .search::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    width: 1px;
    height: 16px;
    background-color: #c7c8cd;
}
.header__icons .search:last-child{
    margin-right: 0;
}
.header__icons .search:last-child::before{
    display: none;
}
.header-bottom{
    margin-top: 35px;
}

/* end header-section */

/* section-one */
main{
    margin-top: -108px;
}
.hero-section{
    position: relative;
    background-image: url(../images/banner/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 242px 0 158px;
    border-bottom: 2px solid var(--color-heading);
}
.hero-section--caption{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--color-accent);
    margin-bottom: 12px;
    display: inline-block;
}
.hero-section--content .hero-section--heading{
    font-weight: 700;
    font-size: 90px;
    line-height: 100%;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 13px;
}
.hero-section--heading em{
    color: var(--color-accent3);
    font-style: normal;
}
.hero-section--text p{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--color-white);
    max-width: 532px;
    margin-bottom: 37px;
}
.hero-section--btn{
    position: relative;
    display: flex;
    align-items: center;
}
.review-flex-wrapper{
    position: relative;
    padding-left: 135px;
    margin-left: 30px;
}
.review-img{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.review-img img{
    margin-left: -18px;
}
.review-img img:first-child{
    margin: 0;
}
.hero-section--rating{
    display: flex;
    align-items: center;
}
.hero-section--rating li{
    position: relative;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    line-height: 18px;
    text-align: center;
    background-color: var(--color-white);
    margin-right: 5px;
    z-index: 11;
}
.review-text{
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
    display: inline-block;
}
.hero-section--img{
    position: absolute;
    bottom: 92px;
    right: 250px;
}
.hero-section--anim .one{
    position: absolute;
    bottom: 0;
    left: 0;
}
.hero-section--anim .two{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.hero-section--anim .three{
    position: absolute;
    bottom: 218px;
    right: 81px;
}
.hero-section--anim .four{
    position: absolute;
    right: 0;
    top: 179px;
}
.hero-section--anim .five{
    position: absolute;
    top: 234px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 56px;
}
/* End hero-style */

/* featured-collection */
.featured-collection{
    position: relative;
    padding: 120px 0;
}
.featured-anim .one{
    position: absolute;
    top: 0;
    right: 30%;
}
.featured-anim .two{
    position: absolute;
    bottom: 30px;
    left: 0;
}
.featured-anim .three{
    position: absolute;
    bottom: 0;
    right: 0;
}
.featured-anim .four{
    position: absolute;
    bottom: 80px;
    left: 38%;
    margin-left: -7px;
}
.featured-collection .section__title{
    position: relative;
    border-bottom: 2px solid var(--color-heading);
    padding: 43px 57px 34px;
}
.featured-collection-box{
    position: relative;
    background: linear-gradient(to right, #363174, #635ad7);
    border: 2px solid var(--color-heading);
    border-radius: 15px;
}
.featured-collection-btn{
    text-align: right;
    margin-top: 28px;
}
.featured-collection-btn .button.v2{
    background-color: var(--color-accent3);
    color: var(--color-heading);
}
.tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabs {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}
.tab-button {
    padding: 21px 20px;
    text-align: center;
    border-radius: 16px;
    background: var(--color-accent4);
    color: white;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 5px 0 #1e1e1e;
    transition: 0.2s ease;
    cursor: pointer;
    position: relative;
    font-family: var(--font-heading-family);
    text-transform: capitalize;
}
.tab-button.active {
    background: var(--color-accent2);
}
.tab-content {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    transition: all 300ms ease;
}
.tab-content.active {
    display: block;
    transition: all 300ms ease;
}
.collections-pills-list{
    padding: 34px 50px 0 57px;
    border-right: 2px solid var(--color-heading);
    height: 100%;
}
.featured-card{
    position: relative;
    padding: 23px 0 21px;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin-bottom: 13px;
    overflow: hidden;
}
.featured-card-img{
    position: relative;
    z-index: 99;
}
.featured-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    height: 85px;
    background-image: url(../images/icon/Vector1.png);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.featured-card::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 55px;
    background-image: url(../images/icon/Vector2.png);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.featured-card:hover{
    background-color: var(--color-background);
}
.featured-card:hover::before,
.featured-card:hover:after{
    opacity: 1;
    visibility: visible;
}
.featured-card:hover .featured-card__heading a{
    color: var(--color-heading);
}
.featured-card:hover .featured-card-btn{
    color: var(--color-accent2);
}
.featured-card__heading{
    margin: 23px 0 6px;
}
.featured-card__heading a {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.featured-card-content .featured-card-btn {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    display: inline-block;
    color: var(--color-accent3);
    display: inline-block;
}
.featured-card-btn svg{
    /* display: none; */
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -18px;
    width: 0;
}
.featured-card-btn:hover svg{
    width: 12px;
}
.featured-collection .tab-content__item{
    padding:  34px 111px 19px 53px;
}